<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="google-site-verification" content="j-RSCpL_BSZ6UCAyLAFnLT5DZHVUP3con1NLTiGozHY" />

<title>CoreMC</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="navbar">

<div class="logo">

<a href="{{ url_for('home') }}">

<img src="{{ url_for('static', filename='images/creeper.png') }}">
<span>CoreMC</span>

</a>

</div>

<nav class="menu">

<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('plugins') }}">Plugins</a>
<a href="{{ url_for('mods') }}">Mods</a>
<a href="{{ url_for('maps') }}">Maps</a>
<a href="{{ url_for('skins') }}">Skins</a>

</nav>

<div class="login">
<a href="/login">Login</a>
</div>

</header>

<!-- HERO SECTION -->

<section class="hero home-bg">

<img class="hero-logo" src="{{ url_for('static', filename='images/creeper.png') }}">

<h1>
For Minecraft
<span id="changing-text">Mods</span>
</h1>

<p>
On this site you can search for mods, plugins, maps and skins for minecraft.
</p>

</section>

<script>

const words = ["Mods","Plugins","Skins","Maps"]

let i = 0

setInterval(() => {

i++

if(i >= words.length){
i = 0
}

document.getElementById("changing-text").innerText = words[i]

},2000)

</script>

</body>
</html>